%p#notice= notice

%h2= @article.title
.article!= @article.body
.article_footer
  = "published at #{@article.date_published}"
  = link_to 'Edit', edit_article_path(@article) if can? :manage, @project

