
= link_to 'Save Now', '#', :id=>'save_now'  
= link_to 'Done', page_path(@page), :id=>'done_editing'
#updated Not saved

#page_elements
  - for element in @page.elements
    %div[element]{:element=>"element_#{element.id}"}
      .handle Drag
      = render :partial => element.partial(:edit), :locals => {element.name.to_sym => element}

= content_for :head do
  = stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.13.custom.css'
  = javascript_include_tag 'jquery-ui-1.8.13.custom.min.js'
  = javascript_include_tag 'jquery.serialize_page_elements'
  :javascript
    const FORM_ACTION = '#{page_path(@page)}';

    $(document).ready(function() {
      $('.gallery_link').click(function(){
        window.open($(this).attr('href'), 'gallery', "height=200, width=200");
        return false;
      });
     	$('a#save_now').click(function(){ saveElements(); return false;});
     	$('a#done_editing').click(function(){ saveElements(); return true;});

      $('#page_elements').sortable({
        containment: 'parent',
        handle:      '.handle',
        update:      postSortData
      });
      
    });

    function postSortData(event, ui){
      $.post(
        '#{sort_page_elements_path(@page, :format => :js)}', 
        $('#page_elements').sortable('serialize', {attribute: 'element'})
      );
    }
    
    function saveElements() {
      $.ajax({type: "PUT",
          url: FORM_ACTION + '.json',
          data: {page_elements: $('#page_elements').serialize_page_elements()},
          success: function() {
            lastSaved = new Date();
            $('#updated').html('Saved at ' + lastSaved.toString());
          },
          error: function() {
            $('#updated').html('Error saving.  Last successful update was ' + lastSaved.toString());
          },
          dataType: 'json',
          });
      
    }
  = render :partial => "aloha_editor"


