%h1 Managing Web Pages for project #{@project.name}

= link_to 'Make a web page', new_resource_url if can? :manage, @project

%ul#pages.items
  - @pages.each do |page|
    %li.item[page]
      %ul.details
        %li.field.title
          %span.field_name Title
          %span.field_value= page.title
      = link_to 'Show', resource_url(page)
      = link_to 'Edit', edit_resource_url(page) if can? :edit, page
      = link_to 'Destroy', resource_url(page), :confirm => 'Are you sure?', :method => :delete if can? :destroy, page

%br

