%h1 pages

%ul#pages.items
  - @pages.each do |page|
    %li.item[page]
      %ul.details
        %li.field.title
          %span.field_name Title
          %span.field_value= page.title
        %li.field.html
          %span.field_name Html
          %span.field_value= page.html
      = link_to 'Show', page
      = link_to 'Edit', edit_page_path(page) if can? :edit, page
      = link_to 'Destroy', page, :confirm => 'Are you sure?', :method => :delete if can? :destroy, page

%br

= link_to 'New Page', new_page_path
