#notice= notice

.field
  .fieldName Title:
  .fieldValue= @page.title
.field
  .fieldName Html:
  .fieldValue= @page.html

= link_to 'Edit', edit_resource_url(@page) if can? :edit, Page
\|
= link_to 'Back', collection_url
