= content_for :head do
  = stylesheet_link_tag 'aloha'
  = stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.9.custom.css'
  
  - aloha_scripts.each do |script|
    = javascript_include_tag script
  = javascript_include_tag 'aloha'
  = javascript_tag "//const FORM_ACTION = '';"
  = javascript_include_tag 'jquery-ui-1.8.9.custom.min.js'


  :javascript
    function postSortData(event, ui){
      $.post(
        '#{sort_pages_path(:format => :js)}', 
        $('#main_menu').sortable('serialize')
      );
    }
  = javascript_include_tag 'sortable_menu'

= form_for @project, :html => {:multipart => true} do |f|
  -if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :send_inquiries_to, "Send inquiries to:"
    = f.text_field :send_inquiries_to
  .field
    = f.label :email_from, "Email FROM Address:"
    = f.text_field :email_from
  .field
    = f.label :paypal_email_address, "Paypal Email Address"
    = f.text_field :paypal_email_address
  .field
    = f.label :paypal_sandbox, "Is this a sandbox account?"
    = f.check_box :paypal_sandbox
  .field
    = f.label :stylesheet_attachment, "Stylesheet"
    = f.file_field :stylesheet_attachment



  .actions
    = f.submit
    
#sort_menu Reorder main menu

