%h1 Editing project

= render 'form'

= link_to 'Manage Web', pages_path if can? :edit, @project
= link_to 'Add domain name', new_domain_name_path if can? :manage, @project
= link_to 'Show', @project
\|
= link_to 'Back', projects_path
