= form_for [parent, resource] do |f|
  -if @ability.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ability.errors.count, "error")} prohibited this ability from being saved:"
      %ul
        - @ability.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :can
    = f.check_box :can
  .field
    = f.label :do
    = f.text_field :do
  .field
    = f.label :on_id
    = f.text_field :on_id
  .field
    = f.label :on_type
    = f.text_field :on_type
  .actions
    = f.submit 'Save'
