%h1 Listing abilities

%table
  %tr
    %th Can
    %th Do
    %th On
    %th On type
    %th
    %th
    %th

  - @abilities.each do |ability|
    %tr
      %td= ability.can
      %td= ability.do
      %td= ability.on_id
      %td= ability.on_type
      %td= link_to 'Show', resource_url(ability)
      %td= link_to 'Edit', edit_resource_url(ability)
      %td= link_to 'Destroy', resource_url(ability), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Ability', new_resource_url
