%p#notice= notice

%p
  %b Can:
  = @ability.can
%p
  %b Do:
  = @ability.do
%p
  %b On:
  = @ability.on_id
%p
  %b On type:
  = @ability.on_type

= link_to 'Edit', edit_resource_url(@ability)
\|
= link_to 'Back', collection_url
