%p#notice= notice

%p
  %b Name:
  = @course.name
%p
  %b Description:
  = @course.description
%p
  %b Cost:
  = @course.cost
%p
  %b Published:
  = @course.published

= link_to 'Edit', edit_course_path(@course)
\|
= link_to 'Back', courses_path
