%p#notice= notice

Showing photos from gallery
%h3= @gallery.name

%ul#images.hoverbox
  - for image in @gallery.images
    %li
      = link_to gallery_image_path(@gallery, image) do
        %img{:src=>image.image.url(:medium)}
        %img.preview{:src=>image.image.url(:medium)}
    
= content_for :head do
  = stylesheet_link_tag 'galleries/hoverbox'
  
= link_to "Upload Photos", edit_gallery_path(@gallery) if can? :manage, @gallery
