%p#notice= notice
= link_to 'Edit', edit_gallery_image_path(@gallery, @image)
\|
= link_to "Back to #{@gallery.name}", @gallery

%table
  %tr
    %td= image_tag @image.image.url(:thumb)
  %tr
    %td= image_tag @image.image.url(:medium)
  %tr
    %td= image_tag @image.image.url


