!!!
%html
  %head
    %title Whisper
    = javascript_include_tag :defaults
    = stylesheet_link_tag "web_main"
    = csrf_meta_tag
  %body
    #header
      .main_title Whisper...
      .main_caption There's no need to shout.
      #main_menu
        %ul
          %li= link_to "Home", "/index.html"
          - if user_signed_in?
            %li= link_to 'Me', '/me'
            %li= link_to 'Logout', destroy_user_session_path
          - else
            %li= link_to('Log in', new_user_session_path)
            %li= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)    
    #content_wrapper
      #content
        = yield

