!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title "#{@project.name}"
    %meta{:content => "", :name => "keywords"}/
    %meta{:content => "", :name => "description"}/
    = javascript_include_tag :defaults
    = stylesheet_link_tag @project.stylesheet
    - if user_signed_in?
      = stylesheet_link_tag 'nav'

    = yield :head
    = csrf_meta_tag
    = javascript_tag "const AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
  %body
    #header
      %h1= @project.name
      - if user_signed_in?
        %ul#nav
          %li 
            = link_to "Manage"
            %ul
              - if can? :manage, @project
                %li
                  = link_to 'Web Site Settings', edit_project_path(@project)
                  %ul
                    %li= link_to 'Edit Menus', manage_main_menu_path
                %li
                  = link_to 'Image Galleries', galleries_path
                  %ul
                    = link_to 'Create a new Image Gallery', new_gallery_path, :class => 'gallery_link'
                    - for gallery in @project.galleries
                      %li= link_to gallery.name, gallery, :class => 'gallery_link'
                %li
                  = link_to 'Articles', articles_path
                  %ul
                    = link_to 'New Article', new_article_path
                    - for article in @project.articles.order_by([[:date_published, :desc]]).paginate
                      = link_to article.title, article
                %li
                  = link_to 'Pages', project_pages_path(@project)
                  %ul
                    = link_to 'New Web Page', new_project_page_path(@project)
                    - for page in @project.pages
                      %li= link_to page.title, project_page_path(@project, page)
                %li= link_to 'Logout', destroy_user_session_path
                
    #menu
      %ul#main_menu
        - for page in @project.pages.sort{|x,y| x.position <=> y.position}
          %li[page, :menu]= link_to page.title, "/#{page.title}"
    %table#content
      %tr
        %td#left
          = yield
        %td#right
          = image_tag '/images/norcalfreediving/Divelogo4.jpg'
        
    #footer
      %p!= "Copyright &copy; #{DateTime.now.year} Norcal Freediving."
      %p
        Design by
        %a{:href => "http://360guide.info"} 360guide.info
        - if user_signed_in?
          = link_to 'Logout', destroy_user_session_path
        - else
          = link_to('Log in', new_user_session_path)


